.full-spectrum .sp-palette {
            max-width: 202px;
        }
        h4{
            margin: 0px;
        }
        p{
            margin: 0px;
        }
        font.selectionPurpose{
        background-color: #ADCCF0 !important;;
        }
        .output {
            display: inline !important;
            background-color: #ADCCF0;
            font-size: inherit !important;
            line-height: inherit !important;
            color: inherit !important;
        }
        output {
            display: inline !important;
            background-color: #ADCCF0;
            font-size: inherit !important;
            line-height: inherit !important;
            color: inherit !important;
        }
        output:-moz-selection
        {
            background:red;
        }
        ::-moz-selection 
        {
            background:#ADCCF0;
        }

        .quote{
           
            background-color:khaki;
        }
        .sfp-text-editor-wrapper li:hover, .sfp-text-editor-wrapper li:focus, .sfp-text-editor-wrapper li.active, .select-style:hover, .select-style.active, #font-color-underline:hover, .text-format:hover, .More:hover, button.active,.font-color.active {
    background-color: #333;
}
.sfp-text-editor-wrapper li img{
    
}
.ui-slider-horizontal {
    height: 4px !important;
}
.ui-slider {
    float:left;
    width:120px;
}
.toolbar .ui-slider .ui-slider-handle{
    
    height: 15px !important;
    width: 15px !important;
    border-radius: 50% !important;
    background: #0B8BCC !important;
    border: none !important;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -6px !important;
    margin-left: -0.6em;
}
.ui-slider {
    position: relative;
    text-align: left;
    top: 6px !important;
}

.font_color{
 background: transparent !important;   
}
.text-format img{
    width: 16px !important;
    height: 16px !important;
}
.sfp-text-editor-wrapper li img {
    width: 110px;
    height: 27px !important;
    margin-bottom: 0px !important;
}
.SFPTWO_TAGEDIT * {
    line-height: inherit !important;
    letter-spacing: inherit !important;
}

.toolbar .remove_format img
{
	margin:5px 0px !important;
}
.toolbar .link-box img
{
	margin:5px 0px !important;
}
.sub-toolbar ul li img
{
	margin:0px auto !important;
}
.sp-preview
{
	display:none;
}
